.top-menu {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  .top-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .top-menu ul li {
    display: inline;
  }
  
  .top-menu ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
  }
  
  .top-menu ul li a:hover {
    background-color: #555;
  }

.section{
  display: flex;
  width: 600px;
  height: 430px;
}

section img{
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
}

section img:hover{
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

.container {
    max-width: 80%;
    margin: 0 auto;
    border: solid 1px;
    color: black;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
  }
  

.borde {
    border-bottom: solid 3px blue;
    color: blue;
    padding-top: 15px;
}

.imagePelis {
            display: flex;
            justify-content: center;
            gap: 20px;
            text-align: center;
        }

        .imagePelis img {
          width: 250px;
          height: 550px;
          border-radius: 5px;
      }

        
        .video {
            display: flex;
            justify-content: center;
            gap: 20px;
            text-align: center;
            margin-bottom: 10px;
        }

body {font-family: Arial, sans-serif;
        background-color: #478e94;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 250vh;
        }
.form-container {
    background-color: #fff;
    padding:
     20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

.form-container h2 {
   margin-bottom: 20px;
  }

.form-container label {
    display: block;
    margin-bottom: 8px;
  }
.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
    .form-container button:hover {
    background-color: #218838;
  }


.top-menu {
        background-color: #333;
        color: #fff;
        padding: 10px 0;
        text-align: center;
 }
    
.top-menu ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
}
  
  .top-menu ul li {
    display: inline;
}

.top-menu ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
}

.top-menu ul li a:hover {
  background-color: #555;
}  

